<div class="mat-elevation-z8 tableclass">
    <h1 class="headclass">MEMBERSHIP RENEWAL</h1>
          <div class="horizontal-stepper-wrapper  myclass1">
            
            <mat-horizontal-stepper class="myclass1" [linear]="true">
                
                <mat-step [stepControl]="searchForm">

                    <form fxLayout="column" [formGroup]="searchForm">
            
                       
                        <div fxFlex="1 0 auto" fxLayout="row">
                            <mat-form-field class="for1field" appearance="outline" fxFlex="100">
                                <mat-label>Date</mat-label>
                                <input matInput type="date"  placeholder="MM/DD/YYYY" formControlName="from"  required>
                              </mat-form-field>
                              <mat-form-field appearance="outline" fxFlex="100" class="for2field">
                                    <mat-label>Next Due Date</mat-label>
                                    <input matInput type="date"  placeholder="MM/DD/YYYY" formControlName="to" required>
                                     <mat-error>Due Date is required</mat-error>
                                  </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Remarks</mat-label>
                                <input matInput formControlName="remarks"> 
                          </mat-form-field>
                        </div>
                        <table mat-table [dataSource]="dataSource" *ngIf="enabletable && !isView" matSort>
                            <ng-container matColumnDef="ID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let row"> {{row['MMM_ID']}}</td>
                            </ng-container>
                          
                          <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let row"> {{row['MMM_NAME1'] + ' ' + row['MMM_NAME2'] + ' ' + row['MMM_NAME3']}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="duedate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
                            <td mat-cell *matCellDef="let row">{{row['MMM_DUE_DATE'].substring(0, 10)}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Mobile">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                            <td mat-cell *matCellDef="let row"> {{row['MMM_MOBIL']}} </td>
                          </ng-container>
                          
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                          </tr>
                        </table>
                        <table mat-table [dataSource]="dataSource" *ngIf="enabletable && isView" matSort>
                            <ng-container matColumnDef="ID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let row"> {{row['MMM_ID']}}</td>
                            </ng-container>
                          
                          <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let row"> {{row['MMM_NAME1'] + ' ' + row['MMM_NAME2'] + ' ' + row['MMM_NAME3']}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="duedate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
                            <td mat-cell *matCellDef="let row">{{row['MRD_DUE_DATE_OLD'].substring(0, 10)}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Mobile">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                            <td mat-cell *matCellDef="let row"> {{row['MMM_MOBIL']}} </td>
                          </ng-container>
                          
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                          </tr>
                        </table>
                        <div fxLayout="row" fxLayoutAlign="center center" class="forButtondiv">
                            <button class="mr-8" mat-raised-button  (click)="closeFun()" type="button" color="primary">
                                Cancel
                            </button>
                            <button mat-raised-button *ngIf="!isView" (click)="addMember()"   color="accent">
                                Add
                             </button>
                            
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="forButtondiv">
                        <button mat-raised-button *ngIf="!isView" (click)="register()"  color="accent">
                            Save
                         </button>
                         </div>
            
                    </form>
            
                </mat-step> 
           </mat-horizontal-stepper>
    </div>     
     
    <!-- <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field> -->
<!-- <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row['MMM_ID']}}</td>
    </ng-container>
  
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let row"> {{row['MMM_NAME1'] + ' ' + row['MMM_NAME2'] + ' ' + row['MMM_NAME3']}}</td>
  </ng-container>

  <ng-container matColumnDef="duedate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
    <td mat-cell *matCellDef="let row">{{row['MMM_EXPIRY_DATE'].substring(0, 10)}} </td>
  </ng-container>
  <ng-container matColumnDef="Mobile">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
    <td mat-cell *matCellDef="let row"> {{row['MMM_MOBIL']}} </td>
  </ng-container>
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let row">
        <!-- <button mat-mini-fab   color="basic" (click)="forEdit(row)" matTooltip="Edit" class="btn-list">
        <mat-icon>edit</mat-icon>
         </button> -->
         <!-- <button mat-mini-fab   color="basic" class="forview btn-list" (click)="forView(row)" matTooltip="View">
            <mat-icon>remove_red_eye</mat-icon>
        </button> -->
        <!-- <button mat-mini-fab   color="basic" class="forview btn-list" (click)="forDelete(row)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button> -->
        <!-- </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table> --> 
    <!-- <button  mat-mini-fab type="button" class="forprev" [disabled]="disableprev" (click)="previousPage()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button  mat-mini-fab type="button" class="fornext" [disabled]="disablenext" (click)="nextPage()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>  -->


</div>
<button mat-icon-button class="warn mat-elevation-z2 theme-options-button"
(click)="toggleSidebarOpen('themeOptionsPanel')">
<mat-icon>settings</mat-icon>
</button>
