.for2field{
    margin-top: 3% !important;
    margin-left: 1% !important;
}
.for1field{
    margin-top:3% !important;
}
.forButtondiv{
 margin-top: 3%;
}
.tableclass{
    box-shadow:none !important;
}
.headclass{
    font-weight: bolder;
    margin-left: 36%;
}