// td, th {
//   width: 15% !important;
// }
td.mat-cell
{
padding-left: 10px !important;
padding-right: 0 !important;
font-family: 'Ubuntu', sans-serif; letter-spacing: 0.3px; font-size:13px;
}

.mat-table
{
  width: 98% !important;
  margin: 0px auto;
  border: 1px solid #abcccc;
  }
  // 1

.mat-mini-fab.mat-primary   { background:#74909e!important; }

tr.mat-header-row   {   height:44px!important; background:#c8f5f5!important}
.mat-header-cell    {   color:#425d5d; font-family: 'Ubuntu', sans-serif; 
  letter-spacing: 0.5px; font-size:13px; font-weight: 500;}