
@import "src/@fuse/scss/fuse";
.imgclass{
    height:200px;
    width: 200px;
}
.forupload{
    height: 34px;
    margin-left:10px;
    @include media-breakpoint('xs') {
        margin-top: 6px;
        margin-bottom: 6px;
        width: 43%;
        margin-left: 0px;
    }
}
@include media-breakpoint('xs') {
    :host /deep/ .mat-step-label{
        display: none;
    }
    :host /deep/ .mat-step-label-selected{
        display: inline-table;
        width: 768px;
    }
    :host /deep/ .mat-step-icon-selected{
        margin-left: -16px;
    }
}

.myclass2 .output
{
    display: inline-block;
    padding-left: 10px;
}
.myclass2 .name
{
    display: none;
}
