<div class="container-fluid">
    
    <div class="row">
       
        <div class="col-lg-12">
            <section class="row memb-main">
                   
           
                <div class="col-lg-3 col-sm-3 placeholder wow fadeIn fordiv" data-wow-delay="0.1s" style="margin-top:0.5%">
                    <img src="{{imgsrc[0]}}" class="display-img2" onError="this.src='assets/loginasset/images/display-img.jpg';"/>
                    <h2>{{council['PRESIDENT_TEXT']}}</h2>
                    <h3 class="forh3"><span>President</span></h3>
                     
                </div>
                
                <div class="col-lg-3 col-sm-3 placeholder wow fadeIn fordiv" data-wow-delay="0.4s" style="margin-top:0.5%">
                        <img src="{{imgsrc[1]}}" class="display-img2" onError="this.src='assets/loginasset/images/display-img.jpg';"/>
                        <h2>{{council['SECRETARY_TEXT']}}</h2>
                        <h3 class="forh3"><span>Secretary</span></h3>
              
                 </div>  
                            
                <div class="col-lg-3 col-sm-3 placeholder wow fadeIn fordiv" data-wow-delay="0.7s" style="margin-top:0.5%">
                        <img src="{{imgsrc[2]}}" class="display-img2" onError="this.src='assets/loginasset/images/display-img.jpg';"/>
                        <h2>{{council['TREASURER_TEXT']}}</h2>
                        <h3 class="forh3">Treasurer</h3>
               
                </div> 
                    
                <div class="col-lg-3 col-sm-3 placeholder margtop25 wow fadeIn fordiv secondrow" data-wow-delay="0.15s">
                        <img src="{{imgsrc[3]}}" class="display-img2 myimg"  onError="this.src='assets/loginasset/images/display-img.jpg';"/>
                        <h2>{{council['VICE_PRESIDENT1_TEXT']}}</h2>
                        <h3 class="forh3">Vice President </h3>
                       
                </div>
                    
                 <div class="col-lg-3 col-sm-3 placeholder margtop25 wow fadeIn secondrow fordiv" data-wow-delay="0.18s">
                        <img src="{{imgsrc[4]}}" class="display-img2 myimg" onError="this.src='assets/loginasset/images/display-img.jpg';"/>
                        <h2>{{council['VICE_PRESIDENT2_TEXT']}}</h2>
                        <h3 class="forh3">Vice President</h3>
                 </div>
                    
                 <div class="col-lg-3 col-sm-3 placeholder margtop25 wow fadeIn secondrow fordiv" data-wow-delay="0.21s">
                    <img src="{{imgsrc[5]}}" class="display-img2 myimg" onError="this.src='assets/loginasset/images/display-img.jpg';"/>
                    <h2>{{council['JOINT_SECRETARY1_TEXT']}}</h2>
                    <h3 class="forh3">Joint Secretary</h3>
                    
                 </div>  
                 <div class="col-lg-3 col-sm-3 placeholder margtop25 wow fadeIn secondrow fordiv" data-wow-delay="0.21s">
                        <img src="{{imgsrc[5]}}" class="display-img2 myimg" onError="this.src='assets/loginasset/images/display-img.jpg';"/>
                        <h2>{{council['JOINT_SECRETARY2_TEXT']}}</h2>
                        <h3 class="forh3">Joint Secretary</h3>
                        
                     </div>  
                   
                  
            </section>
                  
      </div>
     
     
    </div>
  
</div>      
<!-- <button mat-icon-button class="warn mat-elevation-z2 theme-options-button"
(click)="toggleSidebarOpen('themeOptionsPanel')">
<mat-icon>settings</mat-icon>
</button> -->