<div class="container">
  <button mat-mini-fab id="searchbtn" (click)="enbleSearch()" class="forbut" color="primary" matTooltip="Search">
          <mat-icon>search</mat-icon>
           </button>
           <button mat-raised-button *ngIf="!enableSearch" id="printPageButton" class="prtbtn" (click)="print()"  color="accent" matTooltip="Print">
           <mat-icon>local_printshop</mat-icon>
         </button> 
         <button mat-raised-button *ngIf="enableAll" id="allbtn" class="forAll" (click)="getAllChurch()"  color="primary">
          View All Churches
         </button>
            <div class="horizontal-stepper-wrapper" *ngIf="enableSearch">
              
              <mat-horizontal-stepper class="mat-elevation-z4 stpcls" [linear]="true">
                
                  <mat-step [stepControl]="searchForm">
  
                      <form fxLayout="column" [formGroup]="searchForm">
          
                     
                     
                          <div fxFlex="1 0 auto" fxLayout="row">
                              <mat-form-field appearance="outline" fxFlex="100">
                                 <mat-label>Select Country</mat-label>
                                 <mat-select formControlName="country"  #singleSelect (selectionChange)="onCountrySelect()" required>
                                    <ngx-mat-select-search [formControl]="countryFilterCtrl" [placeholderLabel]="'Search Country...'"  [noEntriesFoundLabel]="'No matching Country found'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let country of filteredCount | async" [value]="country['CNT_PK']">
                                      {{country['CNT_NAME']}}
                                    </mat-option>
                                  </mat-select>
                               </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="row">
                               <mat-form-field appearance="outline" fxFlex="100" class="for2field">
                                 <mat-label>Select Region / State</mat-label>
                                 <mat-select formControlName="region"  (click)="checkcountryselection()"  (selectionChange)="onRegionSelect()">
                                    <ngx-mat-select-search [formControl]="regionFilterCtrl" [placeholderLabel]="'Search Region...'"  [noEntriesFoundLabel]="'No matching Region found'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let region of filteredRegion | async" [value]="region['RGN_PK']">
                                      {{region['RGN_NAME']}}
                                    </mat-option>
                                  </mat-select>
                                  <mat-error>Region is required</mat-error>
                               </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="row"> 
                                     <mat-form-field appearance="outline" fxFlex="100">
                                             <mat-label>Select Centre</mat-label>
                                             <mat-select formControlName="centre" (click)="checkCntryandRegselection()"  (selectionChange)="onCentreSelect()">
                                                <ngx-mat-select-search [formControl]="centreFilterCtrl" [placeholderLabel]="'Search Centre...'"  [noEntriesFoundLabel]="'No matching Centre found'"></ngx-mat-select-search>
                                                <mat-option *ngFor="let centre of filteredCentre | async" [value]="centre['CTR_PK']">
                                                  {{centre['CTR_NAME']}}
                                                </mat-option>
                                              </mat-select>
                                     </mat-form-field>
                        </div>
               
                          <div fxLayout="row" fxLayoutAlign="center center">
                              <button class="mr-8 btnclass" mat-raised-button (click)="closeFun()" type="button" color="primary">
                                  Cancel
                              </button>
                              <button mat-raised-button  class="btnclass" [disabled]='!makesearch' (click)="filterChurch()"  color="accent">
                                 Search
                              </button>
                          </div>
              
                      </form>
              
                  </mat-step> 
             </mat-horizontal-stepper>
      </div>   
<div id="print-section">   
<div class="table-responsive">
      <div fxLayout="row" fxLayoutAlign="center center">
              <h1 class="hdcls">Church List</h1>
      </div>
      <table class="table tbcls">
        <thead>
          <tr>
            <th style="width:9%">ID</th>
            <th style="width:20%">Name</th>
            <th style="width:20%">President</th>
            <th style="width:10%">Mobile</th>
            <th style="width:30%">Email</th>
          </tr>

         
        </thead>

        <tbody>

            <tr *ngFor="let church of churchlist">
              <td style="width:9%">{{church['CCH_ID']}}</td>
              <td style="width:20%">{{church['CCH_NAME']}}</td>
              <td style="width:20%">{{church['CCH_PRESIDENT_TEXT']}}</td>
              <td style="width:10%">{{church['CCH_MOBIL']}}</td>
              <td style="width:30%">{{church['CCH_EMAIL']}}</td>
            </tr></tbody>

      </table>
    </div>
</div>      
    <div fxLayout="row" fxLayoutAlign="center center">
    <button  mat-mini-fab type="button" class="forprev" id="pagebtn" [disabled]="disableprev" (click)="previousPage()">
      <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button  mat-mini-fab type="button" id="pagebtn" class="fornext" [disabled]="disablenext" (click)="nextPage()">
      <mat-icon>keyboard_arrow_right</mat-icon>
  </button> 
  </div>
  </div>

